# ----- 临时资料 ----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*





# ----- 可从外界重复获得之资源 ----------
node_modules





# ----- 可重复构建之资源 ---------------
ReadMe.html
/dist





# ----- 其他资源 ----------------------
package-lock.json
.env.local
.env.*.local
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
